html {
    height: 100vh;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 100%;

}

#container {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#top-nav {
    width: 220px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: purple;
    position: absolute;
    right: 12px;
    height: 60px;
    
}

#top-nav a {
    text-decoration: none;
}

#google-apps-button {
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    grid-gap: 2px;
}  

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9 {
    background: rgba(0,0,0,0.60);
}

#google-account-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#g-account-icon {
    height: 2.20em;
    width: 2.20em;
    background: black;
    color: white;
    border-radius: 50%;
    display: flex;
    display: column;
    align-items: center;
    justify-content: center;
}

#g-account-icon p {
    font-size: 15px;
}

.links {
    font-size: 13px;
}

#content {
    clear: both;
    height: 100%;
    background: orange;
    justify-content: center;
    height: 400px;
    width: 1000px;
    position: absolute;
    top: 80px;
    
}

#content, #main, #search-box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hplogo {
    padding: 30px;
}

#search-box-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 582px;
    height: 44px;
    border-width: 0px;
    border-radius: 50px;
    
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.15);
}

#search-icon {
    width: 20px;
    height: 20px;
}

#path {
    opacity: 0.3;
}

#google-search-box {
    width: 527px;
    height: 34;
    border-width: 0;  
    margin-right: 20px;
    padding-left: 20px;
    font-size: 16px;
}

#search-buttons {
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#google-search-button, #feeling-lucky-button {
    height: 36px;
    margin: 20px 5px; 
    border-radius: 2.5px;
    border-width: 0px;
    font-size: 14px;
    padding: 0 15px;
}

#footer {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
}

#left-nav-bottom, #right-nav-bottom {
    display: flex;
    flex-direction: row;
}



#left-nav-bottom {
    float: left;
}

#right-nav-bottom {
    float: right;
}

